/* Navbar.css */
.navbar {
    background-color: #f1f1f1;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .left-links {
    display: flex;
    align-items: center;
  }
  
  .right-links {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    color: #333;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .navbar a:hover {
    color: #555;
  }
  
  /* .link-box{
    background-color: black;
  } */

  .nav-btn{
    background-color: transparent;
    color: #696969;
  }

  .nav-btn:hover{
    background-color: transparent;
    color: black;
  }