/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Add more specific styling for the content container */
.content-container {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  padding: 20px;
  box-sizing: border-box;
}
