/* Band.css */

.new-band {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.new-band h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Fix for input width */
}

button[type="submit"] {
  background-color: #373737; /* Changed to green color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #000000; /* Darker green on hover */
}

/* Band.css */

.bands {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.bands h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.band-list {
  list-style: none;
  padding: 0;
}

.band-item {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.band-item:hover {
  background-color: #f0f0f0;
  transform: translateY(-3px);
}

.band-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.band-item p {
  font-size: 16px;
  margin: 5px 0;
}

